@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;700;900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Noto Naskh Arabic',sans-serif ;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(7px) saturate(0%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="password"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
    border-color: #007bff;
}

.form button {
    display: block;
    width: 50%;
    padding: 12px;
    margin: 20px auto;
    border: none;
    border-radius: 6px;
    background-color: rgb(83, 91, 91);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #5a6268;
}

.form button:active {
    background-color: #000;
    font-size: 14px;
}



.form a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.form a:active{
    color: #5a6268;
}
.form a:hover{
    color: #054678fc;
}